sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
transformers==4.44.0
langchain==0.2.12
langchain_experimental==0.0.64
huggingface-hub==0.24.5
llama-cpp-python==0.2.87
bigxml==1.0.1
langchain-huggingface==0.0.3
huggingface-download-cli==1.0.3
